button,
textarea,
input {
  border: none;
}

button:focus,
textarea:focus,
input:focus {
  border: none;
  outline: none;
}

button:active {
  border: none;
  outline: none;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: #727272;
}

.main {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #eeeff1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .main-block {
  background: #e5e5e5;
  height: 800px;
}

.main .main-block .content {
  width: 1100px;
  height: 700px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.main .main-block .content .header-block {
  margin-top: 57px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main-block .content .header-block h1 {
  font-family: Revalia;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #34547a;
}

.main .main-block .content .header-block h1:hover {
  padding: 10px;
  background: linear-gradient(60deg, #e5e5e5 30%, white 45%, #e5e5e5 70%);
  color: #999999;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 50%;
}

.main .main-block .content .header-block .block-navigation {
  width: 596px;
  padding-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .main-block .content .header-block .block-navigation a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
}

.main .main-block .content .header-block .block-navigation a:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-bottom: 1px solid #3c6ca3;
}

.main .main-block .content .header-block .menu-icon {
  width: 40px;
  height: 40px;
  text-align: center;
  display: none;
}

.main .main-block .content .header-block .menu-icon .menu-burger {
  width: 40px;
  height: 8px;
  background: #34547a;
  position: absolute;
}

.main .main-block .content .header-block .menu-icon .menu-burger .menu__list {
  display: none;
  width: 180px;
  background: #3a3939;
  position: relative;
  top: 0;
  right: 140px;
  z-index: 10;
  padding: 0px;
}

.main .main-block .content .header-block .menu-icon .menu-burger .menu__list .list__item {
  list-style: none;
  color: #ffffff;
  text-align: left;
  font-family: Roboto;
  padding: 10px;
  border-bottom: 2px solid #6e6969;
}

.main .main-block .content .header-block .menu-icon .menu-burger .menu__list .list__item:hover {
  background: #6e6969;
}

.main .main-block .content .header-block .menu-icon .menu-burger .menu__list:last-child {
  border-bottom: none;
}

.main .main-block .content .header-block .menu-icon .menu-burger::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 8px;
  background: #34547a;
  top: 32px;
  left: 0;
}

.main .main-block .content .header-block .menu-icon .menu-burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 8px;
  background: #34547a;
  top: 16px;
  left: 0;
}

.main .main-block .content .menu-icon:hover .menu-burger .menu__list {
  display: block;
}

.main .main-block .content .block-content {
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main .main-block .content .block-content .content-2 h2 {
  font-family: Roboto;
  font-style: normal;
  font-size: 48px;
  line-height: 36px;
  color: #000000;
  margin-top: 0;
}

.main .main-block .content .block-content .content-2 p {
  width: 540px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 0;
  padding-top: 15px;
}

.main .main-block .content .block-content .content-2 button {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  background: #204b80;
  width: 225px;
  height: 65px;
  margin-top: 60px;
}

.main .main-block .content .block-content .content-2 button:hover {
  -webkit-transition: 500ms;
  transition: 500ms;
  background: #17549e;
  font-size: 18px;
  cursor: pointer;
}

.main .main-block .content .block-content .content-2 button:focus {
  outline: none;
}

.main .block-about-me {
  height: 456px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .block-about-me h2 {
  font-family: Roboto;
  font-style: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000000;
}

.main .block-about-me p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  width: 540px;
  color: #727272;
  padding-top: 50px;
  margin: 0 auto;
}

.main .project-line {
  background: #34547a;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .project-line .project-row {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  width: 1100px;
}

.main .project-line .project-row .project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .project-line .project-row .project-item span {
  margin-left: 20px;
}

.main .project-line .project-row .project-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 350ms;
  transition: 350ms;
}

.main .skills-block {
  height: 755px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .skills-block .content {
  width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .skills-block .content .skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 102px 150px 0 0;
}

.main .skills-block .content .skills-list p:nth-child(3),
.main .skills-block .content .skills-list p:nth-child(5),
.main .skills-block .content .skills-list p:nth-child(7) {
  height: 4px;
  width: 455px;
  background: -webkit-gradient(linear, left top, right top, color-stop(80%, #34547a), color-stop(80%, #c4c4c4));
  background: linear-gradient(90deg, #34547a 80%, #c4c4c4 80%);
  margin: 19px 0 30px 0;
}

.main .skills-block .content .skills-list p:nth-child(3) {
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, #34547a), color-stop(58%, #c4c4c4));
  background: linear-gradient(90deg, #34547a 58%, #c4c4c4 58%);
}

.main .skills-block .content .skills-list p:nth-child(7) {
  background: -webkit-gradient(linear, left top, right top, color-stop(32%, #34547a), color-stop(32%, #c4c4c4));
  background: linear-gradient(90deg, #34547a 32%, #c4c4c4 32%);
}

.main .skills-block .content .skills-list h2 {
  font-family: Roboto;
  font-style: normal;
  font-size: 32px;
  line-height: 37px;
  padding-bottom: 50px;
  color: #000000;
}

.main .skills-block .content .skills-list p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.main .skills-block .content .skills-list p span {
  display: none;
}

.main .skills-block .content img {
  width: 505px;
}

.main .skills-block .content img:hover {
  -webkit-filter: saturate(115%);
          filter: saturate(115%);
}

.main .skills-block .content p:hover span {
  display: inline;
  color: #0e970e;
}

.main .my-work {
  height: 1134px;
  background: #eeeff1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .my-work .content {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.main .my-work .content .title h2 {
  font-family: Roboto;
  font-style: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000000;
}

.main .my-work .content .title p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  margin: 0 auto;
  width: 700px;
  margin-top: 50px;
}

.main .my-work .content img {
  margin: 57px 0 100px 0;
  height: 600px;
}

.main .projects-block {
  background: white;
  padding-top: 28px;
}

.main .projects-block img {
  width: 472px;
  height: 472px;
}

.main .projects-block img:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  z-index: 10;
}

.main .clients-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 292px;
  background: white;
  padding-top: 60px;
}

.main .clients-block .clients-logo {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .clients-block .clients-logo img {
  height: 120px;
  margin: 0 30px 0 0;
}

.main .clients-block .clients-logo img:hover {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

.main .block-form {
  height: 762px;
  background: #eeeff1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .block-form .content {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .block-form .content h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
  text-align: center;
}

.main .block-form .content p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  width: 580px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.main .block-form .content .form {
  margin-top: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main .block-form .content .form input {
  width: 250px;
  height: 30px;
  margin: 0 30px 20px 0;
  padding: 10px;
  font-family: "Inconsolata", monospace;
  color: #567b91;
}

.main .block-form .content .form input[name="email"] {
  margin: 0;
}

.main .block-form .content .form textarea {
  padding: 10px;
  width: 553px;
  height: 150px;
  resize: none;
  color: #567b91;
}

.main .block-form .content .form textarea:focus,
.main .block-form .content .form input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 6px 3px rgba(126, 201, 224, 0.747);
          box-shadow: 0px 0px 6px 3px rgba(126, 201, 224, 0.747);
}

.main .block-form .content .form button {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  width: 190px;
  height: 55px;
  background: #34547a;
  margin: 50px 0 0 0;
  color: white;
}

.main .block-form .content .form button:hover {
  -webkit-transition: 500ms;
  transition: 500ms;
  background: #17549e;
  font-size: 18px;
  cursor: pointer;
}

.main .footer {
  height: 151px;
  background: #34547a;
}

.main .footer .content {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 151px;
  margin: 0 auto;
}

.main .footer .content .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .footer .content .copyright h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
}

.main .footer .content .copyright p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
}

.main .footer .content .social-sites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: middle;
  width: 200px;
}

.main .footer .content .social-sites img {
  width: 50px;
  height: 50px;
  margin: auto;
}

.main .footer .content .social-sites img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 500ms;
  transition: 500ms;
}
