button {
  border: none;
}

* {
  margin: 0;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eeeff1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .main-block {
  background: #e5e5e5;
  width: 1920px;
  height: 800px;
}

.content .main-block .header-block {
  margin-top: 57px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .main-block .header-block h1 {
  font-family: Revalia;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #34547a;
}

.content .main-block .header-block .block-navigation {
  width: 596px;
  padding-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .main-block .header-block .block-navigation span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
}

.content .main-block .block-content {
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .main-block .block-content img {
  margin-right: 140px;
}

.content .main-block .block-content .disain {
  width: 540px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 0;
}

.content .main-block .block-content button {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  background: #34547a;
  width: 225px;
  height: 65px;
  margin-top: 60px;
}

.content .main-block .block-content .content-2 h2 {
  font-family: Roboto;
  font-style: normal;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
  margin-top: 0;
}

.content .block-about-me {
  height: 356px;
}

.content .block-about-me h2 {
  font-family: Roboto;
  font-style: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  padding-top: 119px;
}

.content .block-about-me p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  width: 540px;
  color: #727272;
  padding-top: 50px;
  margin: 0 auto;
}

.content .project-line {
  background: #34547a;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0 0 0;
}

.content .project-line .project_row {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

.content .project-line .project_row p {
  margin: 0 52px 0 20px;
}

.content .skills-block {
  padding-top: 102px;
  height: 653px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .skills-block .skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 102px 150px 0 0;
}

.content .skills-block .skills-list p:nth-child(3),
.content .skills-block .skills-list p:nth-child(5),
.content .skills-block .skills-list p:nth-child(7) {
  height: 4px;
  width: 455px;
  background: -webkit-gradient(linear, left top, right top, color-stop(80%, #34547a), color-stop(80%, #c4c4c4));
  background: linear-gradient(90deg, #34547a 80%, #c4c4c4 80%);
  margin: 19px 0 30px 0;
}

.content .skills-block .skills-list p:nth-child(5) {
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, #34547a), color-stop(58%, #c4c4c4));
  background: linear-gradient(90deg, #34547a 58%, #c4c4c4 58%);
}

.content .skills-block .skills-list p:nth-child(7) {
  background: -webkit-gradient(linear, left top, right top, color-stop(32%, #34547a), color-stop(32%, #c4c4c4));
  background: linear-gradient(90deg, #34547a 32%, #c4c4c4 32%);
}

.content .skills-block .skills-list h2 {
  font-family: Roboto;
  font-style: normal;
  font-size: 32px;
  line-height: 37px;
  padding-bottom: 50px;
  color: #000000;
}

.content .skills-block .skills-list p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.content .skills-block img {
  width: 555px;
  height: 450px;
}

.content .my-work {
  height: 1004px;
  background: #eeeff1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .my-work .title h2 {
  font-family: Roboto;
  font-style: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  margin-top: 100px;
}

.content .my-work .title p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
}

.content .my-work img {
  margin-top: 57px;
  height: 600px;
}

.content .clients-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 292px;
  background: white;
  margin-top: 60px;
}

.content .clients-block img {
  height: 120px;
  margin: 0 30px 0 0;
}
