button {
  border: none;
}
* {
  margin: 0;
}
.content {
  display: flex;
  background: #eeeff1;
  justify-content: center;
  flex-direction: column;
  .block_1 {
    background: #e5e5e5;
    width: 1920px;
    height: 800px;
    .header-block {
      margin-top: 57px;
      height: 60px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      h1 {
        font-family: Revalia;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        color: #34547a;
      }
      .block-navigation {
        width: 596px;
        padding-top: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.1em;
        color: #000000;
        display: flex;
        justify-content: space-between;
        span {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0.1em;
        }
      }
    }

    .block-content {
      margin-top: 160px;

      display: flex;
      justify-content: center;
      img {
        margin-right: 140px;
      }
      .disain {
        width: 540px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;

        color: #727272;
        margin-bottom: 0;
      }
      button {
        font-family: Roboto;

        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.1em;

        color: #ffffff;

        background: #34547a;
        width: 225px;
        height: 65px;
        margin-top: 60px;
      }
      .content-2 {
        h2 {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 48px;
          line-height: 79px;

          color: #000000;
          margin-top: 0;
        }
      }
    }
  }
  .block_2 {
    height: 356px;

   
    h2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 37px;
      text-align: center;

      color: #000000;
      padding-top: 119px;
    }
    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      width: 540px;
      color: #727272;
      padding-top: 50px;
      margin: 0 auto;
    }
  }
}
