button {
  border: none;
}
* {
  margin: 0;
}
.main {
  display: flex;
  background: #eeeff1;
  justify-content: center;
  flex-direction: column;
  .main-block {
    background: #e5e5e5;
    height: 800px;
    .content {
      width: 1100px;
      height: 700px;
      justify-content: center;
      margin: 0 auto;
      .header-block {
        margin-top: 57px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          font-family: Revalia;
          font-style: normal;
          font-weight: normal;
          font-size: 48px;
          line-height: 60px;
          text-align: center;
          color: #34547a;
        }
        .block-navigation {
          width: 596px;
          padding-top: 20px;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0.1em;
          color: #000000;
          display: flex;
          justify-content: space-between;
          span {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.1em;
          }
        }
      }

      .block-content {
        margin-top: 160px;
        display: flex;
        justify-content: space-between;
        p {
          width: 540px;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          color: #727272;
          margin-bottom: 0;
        }
        button {
          font-family: Roboto;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          letter-spacing: 0.1em;
          color: #ffffff;
          background: #34547a;
          width: 225px;
          height: 65px;
          margin-top: 60px;
        }
        .content-2 {
          h2 {
            font-family: Roboto;
            font-style: normal;
            font-size: 48px;
            line-height: 79px;
            color: #000000;
            margin-top: 0;
          }
        }
      }
    }
  }

  .block-about-me {
    height: 356px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-family: Roboto;
      font-style: normal;
      font-size: 32px;
      line-height: 37px;
      text-align: center;
      color: #000000;
      padding-top: 119px;
    }
    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      width: 540px;
      color: #727272;
      padding-top: 50px;
      margin: 0 auto;
    }
  }
  .project-line {
    background: #34547a;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0 0 0;
    .project_row {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #ffffff;
      p {
        margin: 0 52px 0 20px;
      }
    }
  }
  .skills-block {
    padding-top: 102px;
    height: 653px;
    background: white;
    display: flex;
    justify-content: center;
    .content {
      width: 1100px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      .skills-list {
        display: flex;
        flex-direction: column;
        padding: 102px 150px 0 0;
        p:nth-child(3),
        p:nth-child(5),
        p:nth-child(7) {
          height: 4px;
          width: 455px;
          background: linear-gradient(90deg, #34547a 80%, #c4c4c4 80%);
          margin: 19px 0 30px 0;
        }
        p:nth-child(5) {
          background: linear-gradient(90deg, #34547a 58%, #c4c4c4 58%);
        }
        p:nth-child(7) {
          background: linear-gradient(90deg, #34547a 32%, #c4c4c4 32%);
        }
        h2 {
          font-family: Roboto;
          font-style: normal;
          font-size: 32px;
          line-height: 37px;
          padding-bottom: 50px;
          color: #000000;
        }
        p {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          color: #727272;
        }
      }
      img {
        width: 555px;
        height: 450px;
      }
    }
  }
  .my-work {
    height: 1004px;
    background: #eeeff1;
    display: flex;
    justify-content: center;
    .content {
      width: 1100px;
      display: flex;
      flex-direction: column;
      .title {
        h2 {
          font-family: Roboto;
          font-style: normal;
          font-size: 32px;
          line-height: 37px;
          text-align: center;
          color: #000000;
          margin-top: 100px;
        }
        p {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          color: #727272;
          max-width: 700px;
          margin: 0 auto;
          margin-top: 50px;
        }
      }
      img {
        margin: 57px 0 100px 0;
        height: 600px;
      }
    }
  }

  .clients-block {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 292px;
    background: white;
    margin-top: 60px;
    img {
      height: 120px;
      margin: 0 30px 0 0;
    }
  }
  .projects-block {
    // height: 960px;
    background: white;
    padding-top: 28px;
    img {
      width: 472px;
      height: 472px;
    }
  }
}
