button,
textarea,
input {
  border: none;
}
button:focus,
textarea:focus,
input:focus {
  border: none;
}
* {
  margin: 0;
}
.main {
  display: inline-flex;
  background: #eeeff1;
  justify-content: center;
  flex-direction: column;
  .main-block {
    background: #e5e5e5;
    height: 800px;
    .content {
      width: 1100px;
      height: 700px;
      justify-content: center;
      margin: 0 auto;
      .header-block {
        margin-top: 57px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          font-family: Revalia;
          font-style: normal;
          font-weight: normal;
          font-size: 48px;
          line-height: 60px;
          text-align: center;
          color: #34547a;
        }
        h1:hover {
          padding: 10px;
          background: linear-gradient(45deg, blue, red);
          color: white;
          transform: rotate(360deg);
          transition: 1s;
          border-radius: 50%;
        }
        .block-navigation {
          width: 596px;
          padding-top: 20px;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0.1em;
          color: #000000;
          display: flex;
          justify-content: space-between;
          a {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.1em;
          }
          a:hover {
            transition: 800ms;
            transform: scale(1.1);
            // box-shadow: 2px 2px 10px 0px black;
            border-bottom: 1px solid rgb(60, 108, 163);
          }
        }
      }

      .block-content {
        margin-top: 160px;
        display: flex;
        justify-content: space-between;
        p {
          width: 540px;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          color: #727272;
          margin-bottom: 0;
        }
        button {
          font-family: Roboto;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          letter-spacing: 0.1em;
          color: #ffffff;
          background: #204b80;
          width: 225px;
          height: 65px;
          margin-top: 60px;
        }
        button:hover {
          transition: 500ms;
          background: #17549e;
          font-size: 18px;
        }
        .content-2 {
          h2 {
            font-family: Roboto;
            font-style: normal;
            font-size: 48px;
            line-height: 79px;
            color: #000000;
            margin-top: 0;
          }
        }
      }
    }
  }

  .block-about-me {
    height: 456px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-family: Roboto;
      font-style: normal;
      font-size: 32px;
      line-height: 37px;
      text-align: center;
      color: #000000;
    }
    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      width: 540px;
      color: #727272;
      padding-top: 50px;
      margin: 0 auto;
    }
  }
  .project-line {
    background: #34547a;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

    .project-row {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #ffffff;
      width: 1100px;
      .project-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        span {
          margin-left: 20px;
        }
      }
      .project-item:hover {
        transform: translateY(-10px);
        transition: 350ms;
      }
    }
  }
  .skills-block {
    height: 755px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      width: 1100px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .skills-list {
        display: flex;
        flex-direction: column;
        padding: 102px 150px 0 0;
        p:nth-child(3),
        p:nth-child(5),
        p:nth-child(7) {
          height: 4px;
          width: 455px;
          background: linear-gradient(90deg, #34547a 80%, #c4c4c4 80%);
          margin: 19px 0 30px 0;
        }
        p:nth-child(3) {
          background: linear-gradient(90deg, #34547a 58%, #c4c4c4 58%);
        }
        p:nth-child(7) {
          background: linear-gradient(90deg, #34547a 32%, #c4c4c4 32%);
        }
        h2 {
          font-family: Roboto;
          font-style: normal;
          font-size: 32px;
          line-height: 37px;
          padding-bottom: 50px;
          color: #000000;
        }
        p {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          color: #727272;
          span {
            display: none;
          }
        }
      }
      img {
        width: 505px;
      }
      img:hover {
        filter: saturate(115%);
      }
      p:hover {
        span {
          display: inline;
          color: rgb(14, 151, 14);
        }
      }
    }
  }
  .my-work {
    height: 1134px;
    background: #eeeff1;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      width: 1100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      .title {
        h2 {
          font-family: Roboto;
          font-style: normal;
          font-size: 32px;
          line-height: 37px;
          text-align: center;
          color: #000000;
        }
        p {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          color: #727272;
          margin: 0 auto;
          width: 700px;
          margin-top: 50px;
        }
      }
      img {
        margin: 57px 0 100px 0;
        height: 600px;
      }
    }
  }

  .projects-block {
    background: white;
    padding-top: 28px;
    img {
      width: 472px;
      height: 472px;
    }
    img:hover {
      transition: 1s;
      transform: scale(1.15);
      z-index: 10;
    }
  }
  .clients-block {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 292px;
    background: white;
    margin-top: 60px;
    .clients-logo {
      width: 1100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      img {
        height: 120px;
        margin: 0 30px 0 0;
      }
      img:hover {
        transition: 1.5s;
        transform: rotateX(360deg);
      }
    }
  }
  .block-form {
    height: 762px;
    background: #eeeff1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content {
      width: 1100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 37px;
        color: #000000;
        text-align: center;
      }
      p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
        width: 580px;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
      }
      .form {
        margin-top: 65px;
        justify-content: center;
        align-items: center;
        input {
          width: 250px;
          height: 30px;
          margin: 0 30px 20px 0;
          padding: 10px;
        }
        input[name="email"] {
          margin: 0;
        }
        textarea {
          padding: 10px;
          width: 553px;
          height: 150px;
          resize: none;
        }
      }
    }
  }
  .footer {
    height: 151px;
    background: #34547a;
    .content {
      width: 1100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 151px;
      margin: 0 auto;
      .copyright {
        display: flex;
        flex-direction: column;
        h3 {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 21px;
          line-height: 25px;
          color: #ffffff;
        }
        p {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 21px;
          color: #ffffff;
        }
      }
      .social-sites {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 200px;
        img {
          width: 43px;
          height: 67px;
        }
      }
    }
  }
}
